.red {
    color: #ff0505
}

.yellow {
    color: #ffcb05
}

.blue {
    background-color: #3c5aa6;
}

.flex {
    display: flex;
}

.pokemonFont {
    font-family: 'Pokemon Solid', sans-serif;
}

.pokemonButton {
    border-color:  linear-gradient(52deg, rgba(34,193,195,1) 0%, rgba(141,190,122,1) 42%, rgba(145,190,119,1) 69%, rgba(34,193,195,1) 100%);
    margin: 1.5%;
    line-height: 160%;
    padding: 1ch 4ch;
    text-align: center;
    font-size: 1vw;
    font-family: 'Pokemon Solid', sans-serif;
    color: azure;
    background-color: #fca311;
    text-shadow: 2px 2px 2px #633d00;
    border-radius: 1ch;
    background: rgb(34,193,195);
    background: linear-gradient(52deg, rgba(34,193,195,1) 0%, rgba(141,190,122,1) 42%, rgba(145,190,119,1) 69%, rgba(34,193,195,1) 100%);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px -3px #633d00;
    position: absolute;
    margin-top: 250px;
}

.centered {
    align-items: center;
    align-content: center;
    justify-content: center;
}

.menuText {
    text-decoration: none;
    font-size: 20px;
}

.wrap {
    flex-flow: wrap column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.wideBox {
    width: auto;
    height: auto;
    /* color: #ff0505; */
    /* background-color: #2a75bb; */

    padding: 10px;
}

/*.smallBox {
    width: 640px;
    height: 360px;
    z-index: auto;

}

.gridRow {
    display: grid;
    grid-template-rows: 200px auto;
}

.mninWidth {
    min-width: 500px;
}


.mninHeight {
    min-height: 400px;
} */





